<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<connectionStrings>



	
	<!--<add name="Gobbi" connectionString="Data Source=186.124.221.14\PWIN01;Initial Catalog=EMACSA_NUCLEO;User ID=sa; Password=isCisC01;" providerName="System.Data.SqlClient" />-->
  <add name="Gobbi" connectionString="Data Source=MARIANA\PWIN;Initial Catalog=EMACSA_NUCLEO;User ID=sa; Password=123456;" providerName="System.Data.SqlClient" />

  <!--
	<add name="Gobbi" connectionString="Data Source=186.124.221.14\PWIN01;Initial Catalog=EMACSA_NUCLEO;User ID=sa; Password=isCisC01;"
        providerName="System.Data.SqlClient" />
    <add name="EMACSA_NUCLEOConnectionString" connectionString="Data Source=186.124.221.14\PWIN01;Initial Catalog=EMACSA_NUCLEO;Persist Security Info=True;User ID=sa;Password=isCisC01"
        providerName="System.Data.SqlClient" />

  <add name="Gobbi" connectionString="Data Source=GASTON-HP\GATOMOBILE;Initial Catalog=EMACSA_NUCLEO;User ID=sa; Password=123456;"
     providerName="System.Data.SqlClient" />
  <add name="EMACSA_NUCLEOConnectionString" connectionString="Data Source=GASTON-HP\GATOMOBILE;Initial Catalog=EMACSA_NUCLEO;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  -->
</connectionStrings>