<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<connectionStrings>
	<add name="Gobbi" connectionString="Data Source=GATOMOBILE\GATOMOBILE;Initial Catalog=EMACSA_NUCLEO;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	<!--<add name="EvaSecurityDatabase" connectionString="Data Source=DWIN0118\EVASQL2005;Initial Catalog=EVA_SECURITY;User ID=Desarrolladores_EVA;Password=telecom07;async=true;" providerName="System.Data.SqlClient"/>-->
	<add name="Gobbi" connectionString="Data Source=GABY-PC;Initial Catalog=EMACSA_NUCLEO;User ID=sa; Password=sa;" providerName="System.Data.SqlClient"/>

</connectionStrings>