.fondo_Titulo{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:10px;
	color:#666666;
	background-image:url("../Images/fdo_tile.gif");
	background-position:top;
	background-color:white;
	font-weight:bold;
	vertical-align:top;
}
.fondo_TituloAux{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:11px;
	color:white;
	background-image:url("../Images/headerBlue.gif");
	background-position:top;
	background-color:white;
	font-weight:bold;
	vertical-align:top;
}
.FondoCelda{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:11px;
	color:#606060;
}
.FondoCeldaAlternativa {
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:11px;
	color:#606060;
	background-color:#F9F9F9; 
}

.listbox
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	padding-top: 2px;
	padding-left: 2px;
}

.textArea
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	padding-top: 2px;
	padding-left: 2px;
}
table.border
{
	padding: 2px;
	border-right: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
}

table.borderCompleto
{
	padding: 2px;
	border-right: gainsboro 1px solid;
	border-left: gainsboro 1px solid;
	border-bottom: gainsboro 1px solid;
	border-top: gainsboro 1px solid;
}

.button_backOver
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #0099FF;
	border-bottom: 1px solid #BCD2E6;
	background: url("../Images/planilla_smnuhabil.jpg");
	display: block;
	background: url("../Images/planilla_smnuhabil.jpg") no-repeat right top;
	color: #627EB7;
	font-weight: bold;
}
.button_back
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #0099FF;
	border-bottom: 1px solid #BCD2E6;
	background: url("../Images/tableft1.gif");
	display: block;
	background: url("../Images/tabright1.gif") no-repeat right top;
	color: #627EB7;
	font-weight: bold;
}

.buttonDisabled
{
	background-color: #FFFFFF;
	border: solid 1px #E5E5E5;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #DDDDDD;
	height: 23px;
}
a.pla_submenu 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:10px;
	color:#000000;
	text-decoration:none;
}

.font10 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:10px;
	color:#606060;
}

a.pla_submenu:hover 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:10px;
	color:#606060;
	text-decoration:none;
}

.SolapaHabilitada{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:11px;
	color:#606060;
	background:url("../Images/planilla_smnuhabil.jpg");
}

.SolapaDesHabilitada{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:11px;
	color:#606060;
	background:url("../Images/planilla_smnudesha.jpg");
}
.gvEmptyData
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000099;
	background-color: #fff5ee;
}
.gvSelectedItem
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #660000;
	text-indent: 1px;
	height: 20px;
	background-color: #fffaf0;
}

.divDocumentosCLP
{
	overflow: auto;
	width: 890px;
	height:200px; 
}

.divEnvioAGs
{
	overflow: auto;
	width: 890px;
	height:250px; 
}
.divGrillaCancelacion
{
	overflow: auto;
	width: 890px;
	height:250px; 
}

.headerGray
{
	background-image:url(../Images/headerGray.gif);
	background-color:#828282;
	border: solid 1px #646464;
	font-size:9px;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-weight:normal;
	color:#ffffff;
	height:20px;
	background-repeat:repeat-x;
}
.panelBarContainer {
	font-size : xx-small;
	font-family: Tahoma, Arial, MS Sans Serif;
	FLOAT: left;  BORDER-BOTTOM: #4A658C 3px solid; POSITION: relative; TOP: -1px; 
	border-right: 1px solid #d4dce6; 
	border-left: 1px solid #d4dce6; 
}

.textboxInputFile
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	color: #000000;
	height: 20px;
	padding-top: 2px;
	padding-left: 2px;
}
.TituloCalendario
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	color: #000000;
	background-color: #F7F7DE;
}
.Calendario
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	background-color: #fffafa;
}
.DatoCalendario
{
	font-family: Verdana;
	font-size: 10px;
	background-color: #e1e4f1;
}
.CalendarioAux
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	background-color: #ffffff;
	text-decoration:none;
	cursor:default;
	
}
.CalendarioWeekEnd
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	background-color: #F7F7EF;
}
.textomaschiconegro
{
	font-family: Tahoma, Arial, MS Sans Serif;
	color: #000080;
	font: xx-small/1;
	font-size: 9px;
	background-color: transparent;
}
.evaHeaderMovika
{
	padding: 0px;
	margin: 0px;
	background-image: url('../Images/FondoCelesteEVA.gif');
	background-repeat: repeat;
	border-bottom: solid 1px black;
	text-align: left;
}
.LblFormLeft
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	background-color: #EDEBEB;
	border-right: #cccccc 2px solid;
	border-bottom: #cccccc 1px inset;
	padding:4px;
	text-align: left;
}
.LblFormLeftSmall
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	background-color: #EDEBEB;
	text-align: left;
	padding-bottom:3px;
}
.LblFormRightSmall
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	background-color: #EDEBEB;
	text-align: right;
}
.LblFormSmall
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	background-color: #EDEBEB;
	padding-bottom:0px;
}
.LblFormRight
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	background-color: #EDEBEB;
	border-right: #cccccc 2px solid;
	border-bottom: #cccccc 1px inset;
	padding:4px;
	text-align: right; 
}
.FiTitulo
{
	padding: 0px; 
	background-image: url('~/Images/fdo_barra_tile.gif'); 
	background-repeat: repeat-x;
	text-align: left;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size:12px;
	font-weight:bold;
	height:25px;
	color: #00016C;
}
.comboEditor
{
	background-color: #FFFFCC;
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #666666;
	height: 16px;
}
.comboReadOnly
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #666666;
	height: 16px;
}
.combo
{
	background-color: #FFFFFF;
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #666666;
	height: 16px;
}


td
{
	white-space:nowrap;
}

.textochiconegro 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: Black;
}

.textomaschiconegro 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	color: Black;
	font: xx-small/1;
	font-size: 9px;
}

.line 
{
	border-bottom: 1px solid #999999;
	font: normal normal xx-small Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.whiteTitle a:link 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 8pt; 
	color: White;
	font-weight: bold; 
	text-decoration: none; 
	padding-right: 5px;
}

.whiteTitle a:visited 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 8pt; 
	color: White;
	font-weight: bold; 
	text-decoration: none; 
	padding-right: 5px;
}

.whiteTitle a:hover 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 8pt; 
	color:#ffffff;
	font-weight: bold; 
	text-decoration: underline; 
	padding-right: 5px;
}

.whiteTitle 
{
	color: white;
	font-size: 9pt; 
	font-weight: bold;
	font-family: Tahoma, Arial, MS Sans Serif;
}

.smallTitle 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	color: #00016C;
	font-size: 10px;
	font: normal bold;
}

.helpText 
{
	background-color : #ffffe0;
	padding-left : 2.5px;
	padding-top : 2.5px;
	padding-right : 2.5px;
	padding-bottom : 2.5px;
	border-top : 1px dotted #ccccdd;
	border-left : 1px dotted #ccccdd;
	border-right : 1px dotted #ccccdd;
	border-bottom : 1px dotted #ccccdd;
	font-size: 10px;
	font-family: Tahoma, Arial, MS Sans Serif;
	border-style : solid;
}

.headerText 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	background-color: #F7F7F7;
	font-size: 10px;
	color: #949494;
}

.title 
{
	font-family: Tahoma, Arial, MS Sans Serif;
	color: #000000;
	font-size: 14px;
	font: normal bold;
	margin-bottom: 20px;
}

.evaHeader
{
	padding: 0px; 
	margin: 0px; 
	background-image: url('../Images/FondoCelesteEVA.gif'); 
	background-repeat: repeat; 
	border-bottom: solid 1px black;
	text-align: left;
}

.evaFooter
{
	font: normal bold 8pt 'Verdana';
	color: #FFFFFF; 
	background-image: url('~/Images/FondoAzulTeco.gif'); 
	background-repeat: repeat; 
	padding: 0px; 
	margin: 0px;
}

.blueGvHeader
{
    background-image:url(../Images/headerBlue.gif);
	background-color:#4985AE;
}

.blueGvHeader th
{
    border: solid 1px #3C6B8C;
}

.greenGvHeader
{
    background-image:url(../Images/headerGreen.gif);
	background-color:#57AF4B;
}

.greenGvHeader th
{
    border: solid 1px #458C3C;
}

.grayGvHeader
{
    background-image:url(../Images/headerGray.gif);
	background-color:#828282;
}

.grayGvHeader th
{
    border: solid 1px #646464;
}

.gvHeader
{
	font-size:9px;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-weight:normal;
	color:#ffffff;
    height:20px;
    background-repeat:repeat-x;
}

.gvHeader a:link
{
	font-size:9px;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}

.gvHeader a:visited
{
	font-size:9px;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}

.gvHeader a:hover
{
	font-size:9px;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-weight:normal;
	color:#000000;
	text-decoration:none;
}

.gvItem
{
	
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px; 
	color: #666666; 
	text-indent: 3pt;
	background-color: #F7F7F7;
}
.gvItemWithBorder
{
	
	font-family: Arial, Helvetica, Sans-Serif; 
	font-size: 11px; 
	color: #666666; 
	text-indent: 1px;
	height: 20px;
	background-color: #FAFAFA;
	 border-style:solid;
	 border-width:thin;
	 border-color:Gray;
}
.gvAlternatingItem
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px; 
	color: #666666; 
	text-indent: 3pt;
	background-color: #EDEBEB;
}

.button
{
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	color: #666666;
	height: 23px;
}

.buttonOver
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	color: #000000;
	height: 23px;
}

.buttonDisabled
{
	background-color: #FFFFFF;
	border: solid 1px #E5E5E5;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	color: #DDDDDD;
	height: 23px;
}

.label
{
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	padding-bottom: 2px;
	padding: 1px;
}

.textbox
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	height: 10px;
	padding-top: 2px;
	padding-left: 2px;
}
.textboxReadOnly
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 9px;
	color:Black;
	height: 11px;
	padding-top: 1px;
	padding-left: 1px;
}

.textboxEditor
{
	background-color: #FFFFCC;
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	height: 13px;
	padding-top: 2px;
	padding-left: 2px;
}

.textboxEditorRight
{
	background-color: #FFFFCC;
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	text-align: right;
	height: 13px;
	padding-top: 2px;
	padding-left: 2px;
}

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=50);
 	opacity: 0.50;
}

.updateProgress
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	position: absolute;
	width: 180px;
	height: 65px;
}
a:visited
{
 font-variant:normal;
 font-family: Tahoma, Arial, MS Sans Serif;
}

.LabelError
{
      font-family: Verdana;
      font-size: 11px;
      font-weight: bold;
      color: Red;
      vertical-align: middle;
}
.MaskedEditFocus
{
    background-color: #ffffcc;
    color: #000000;
}
.MaskedEditError
{
    background-color: #ffcccc;
}
.MaskedEditFocusNegative
{
    background-color: #ffffcc;
    color: #ff0000;
}
.MaskedEditBlurNegative
{
    color: #ff0000;
}
.textboxReadOnlyRight
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color:Black;
	height: 13px;
	padding-top: 1px;
	padding-left: 1px;
	text-align:right;	
}
.textboxReadOnlyCenter
{
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color:Black;
	height: 13px;
	padding-top: 1px;
	padding-left: 1px;
	text-align:center;	
}

.textboxEditorCenter
{
	text-align:center;	
	background-color: #FFFFCC;
	border: solid 1px #B9B9B9;
	font-family: Tahoma, Arial, MS Sans Serif;
	font-size: 11px;
	color: #000000;
	height: 13px;
	padding-top: 0px;
	padding-left: 0px;
}
.scrollbar
{
	scrollbar-3dlight-color:#0000ff;
	scrollbar-arrow-color:#fff;
	scrollbar-base-color:#8866a4;
	scrollbar-darkshadow-color: #88a4a4;
	scrollbar-face-color: #a4a4a4;
	scrollbar-highlight-color:#8866a4;
	scrollbar-shadow-color:#000;

}
